.landing-page{
  font-weight:600;
  font-family: font-awesome; 
  
}

/* Header */
.app-header{

  .nav-item{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
}

.carousel-header{
  
}

.theme-container{
  max-width: 100%;
  height: 400px;

  @media (min-width:768px) {
    height: 500px;
    
  }
}
.theme-img{
  max-width: 100%;
  height: 400px;

  @media (min-width:768px) {
    height: 500px;
    
  }

}


.message-outer-container{
  max-width: 100%;
  height: 500px;
  max-width: 100%;

} 

.blogs-container{
  max-width: 100%;
  height: auto;
  /* @media (max-width: 480px){
    height: 200px;
    
  } */
}

.blog-post{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  max-width: 100%;
  height: auto;
  /* @media (max-width: 500px){
    max-width: 100%;
    height: 220px;
    
  } */
}


.features{
  @media (min-width: 640px) {
    max-width: 100%;
    height: auto;
   
    
   }
  
}

.features-card{
  @media (min-width: 640px) {
    max-width: 100%;
    height: auto;
   
    
   }

}


.social-carousel{
  /* max-width: 600px;

  @media (max-width: 480px) {
    max-width: 100%;
    
  } */
}
.footer-container{
  max-width: 100%;
  height: auto;
  /* @media (max-width:1280px) {
    max-width: 100%;
    height: 329px;
    
  }
  @media (max-width:1024px) {
    max-width: 100%;
    height:auto;
    
  }
  @media (max-width:768px) {
    max-width: 100%;
    height: auto;
    
  }
 
  @media (max-width: 640px) {
    max-width: 100%;
    height: auto;
    
  }

  @media (max-width: 480px) {
    max-width: 100%;
    height: auto;
    
  } */
}
h1{

}
h2{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color:  rgb(241, 211, 13);
  text-transform: uppercase;

  /* responsiveness */
  @media (max-width:640px) {
    font-size: 1rem;
  
    
  }
}
li{
  color: black;
}
label{
  opacity: 1.5;
  
}
:hover
/* .carousel-img{
    max-width: 100%;
    height: 600px;
    background-color: blue;

    @media (max-width:480px) {
      height: 400px;
      
    }
  } */


  button{
    padding: 11px;
  }

  
  .carousel-paragraph{
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);


  }

  .social-proof{
    max-width: 100%;
    height: 600px;
  }

  .social-img{
    max-width: 100%;
    height: 600px;
    opacity: 1;
  }
  /* .social-carousel{
    width: 400px;
    opacity: 0.8;
  } */

  .carousel{
     
  }
 

  .carousel-img-details{
    /* clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); */
    opacity: 0.8;
    border-radius: 0%;

  }

  .carousel-img-location{

  }

  .carousel-img-offer{
    /* clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); */
    
  }



  


  .team-img{
    max-width: 200px; 
    width: 200px;
    height: 200px;
    

    @media (max-width:640px) {
      max-width: 16px; 
      width: 16px;
      height: 16px;
      
    }
    @media (max-width:768px) {
      max-width: 64px; 
      width: 66px;
      height: 66px;
      
    }
    .why-us-outer{
      max-width: 100%;
      height: 600px;
      
    }
   
  }
  .why-us-img{
    max-width: 50%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

    @media (max-width: 640px) {
      max-width: 100%;
      clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 0);
      
    }

    @media (max-width: 480px) {
      clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 0);
      max-width: 100%;
      
      
    }
  
  }

  .why-us-label{
    opacity: 0.8;
    /* clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); */
    
  }

  .item-category{
    opacity: 0.9;
  }
  .carousel-img{
    opacity: 1.1;
  }

  .message-card{
    opacity: 0.8;
  }
  .card-text{
    opacity: 0.8;
  }
  .blogs-container{

    @media (max-width: 768px) {
      max-width: 100%;
      height: 600px;
      
    }

  }
  .blog-semi-container{

  }
  .blog-header{
  
  }
  .logo{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  /* Custom backgrounds for a grouped... */
   .item-category, .social-carousel, .home-type-label, .cta-email-submit, .message-card, .card-text, .blog-title, .footer-container{
    /* replace with bg variant */
    background-color: var(--main-color);
    color: black;
  }

  /** Hoverings*/
  a:hover {
    
    color: rgb(241, 211, 13);
    
  }

  li:hover{
    color: rgb(241, 211, 13);
    
  }
  button:hover{
    color: rgb(241, 211, 13);
  }