.carousel-container {
     /* Adjust to your desired width */
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.4;
  }
  
  .carousel-paragraph {
    display: flex;
    flex-direction: column;
    transition: transform 0.9s ease-in-out;
  }
  
  .carousel-paragraph p {
    
    margin: 0;
    display: none;
  }
  
  .carousel-paragraph p.active {
    display: block;
  }

  .social-carousel{
    /* opacity: 0.8; */
  }
  
  /* Add more styling as needed */
  